{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<!--<script src="{% static 'java_script/home_main_script.js' %}" type="text/javascript"></script>-->
<link rel="stylesheet" type="text/css" href="{% static 'css/terms.css' %}">
{% endblock %}


{% block body %}

<div id="content_wrapper">
<h1>Certificaten</h1>

<p>
    Gemaakt voor: Financiele commissie
    <br />
    Voorbereid door: Jan-Willem
    <br />
    Created date: 24 jul. 2015
</p>

<h2>INHOUD</h2>

<a href="#inleiding" class="head_2">Inleiding</a>
<a href="#Van_toepassing_zijnde_documenten" class="head_3">Van toepassing zijnde documenten</a>
<a href="#Statuten_VOVB_en_Partners_BV" class="head_4">Statuten VOVB en Partners BV</a>
<a href="#Statuten_STAK" class="head_4">Statuten STAK</a>
<a href="#Administratie_voorwaarden_STAK" class="head_3">Administratie voorwaarden STAK</a>
<a href="#Register_van_certificaten" class="head_4">Register van certificaten</a>
<a href="#Arbeidsvoorwaarden" class="head_4">Arbeidsvoorwaarden</a>
<a href="#Deze_toelichting" class="head_4">Deze toelichting</a>
<a href="#Voorstel" class="head_2">Voorstel</a>
<a href="#De_periodes" class="head_3">De periodes</a>
<a href="#Eerste_volledige_week_van_oktober" class="head_4">Eerste volledige week van oktober</a>
<a href="#Tweede_volledige_week_van_oktober" class="head_4">Tweede volledige week van oktober</a>
<a href="#Derde_volledige_week_van_oktober" class="head_4">Derde volledige week van oktober</a>
<a href="#Eerste_twee_volledige_weken_van_november" class="head_4">Eerste twee volledige weken van november</a>
<a href="#Derde_maandag_van_november" class="head_4">Derde maandag van november</a>
<a href="#De_toekenning" class="head_3">De toekenning</a>
<a href="#Regels" class="head_4">Regels</a>
<a href="#Voorbeeld" class="head_4">Voorbeeld</a>
<a href="#Overige_relevante_gegevens" class="head_3">Overige relevante gegevens</a>
<a href="#Aanwezigheid_Certificaathouders_bij_AVA" class="head_4">Aanwezigheid Certificaathouders bij AVA</a>
<a href="#Certificaten_per_aandeel" class="head_4">Certificaten per aandeel</a>
<a href="#Bijhouden_register" class="head_4">Bijhouden register</a>
<a href="#Bij_verkoopaandelen_12Care" class="head_4">Bij verkoopaandelen 12Care</a>
<a href="#Bestuur_van_de_STAK" class="head_4">Bestuur van de STAK</a>
<a href="#12Care_en_de_STAK_geen_certificaathouder" class="head_4">12Care en de STAK geen certificaathouder</a>

<a name="inleiding"></a>
<h2>INLEIDING</h2>

<p>
    In de toelichting op de samenwerking staat over de certificaten de volgende tekst: 'Certificaten
</p>

<p>
    Om de individuele belangen zo goed mogelijk parallel te laten lopen is een deel van de aandelen gecertificeerd zodat
    de medewerkers ook kapitaalverstrekker kunnen worden en de belangen ook deels parallel gaan lopen aan die van de
    aandeelhouders.
</p>

<p>
    Dit heeft voor de niet-aandeelhouders het voordeel dat zij ook financieel kunnen profiteren van de groei van de
    organisatie en voor de aandeelhouders dat de niet-aandeelhouders ook begrip hebben voor de visie van de
    aandeelhouders.
</p>

<p>
    De certificaten zijn al beschikbaar. De medewerkers zijn onder leiding van de FinCie bezig met het opstellen van de
    reglementen.’
</p>

<p>
    Voor het opstellen van de reglementen is overleg geweest met de notaris. Deze heeft het reglement gemaakt. Dit
    reglementen is bepalend voor eventuele conflict beslechting. Het reglement is tot stand gekomen na vele overwegingen
    die niet in het reglement zijn opgenomen.
</p>

<a name="Van_toepassing_zijnde_documenten"></a>
<h3>Van toepassing zijnde documenten</h3>

<a name="Statuten_VOVB_en_Partners_BV"></a>
<h4>Statuten VOVB en Partners BV</h4>

<p>
    De regelingen rondom de certificaten mogen niet in strijd zijn met de statuten. De statuten gaan boven het
    reglement.
</p>

<a name="Statuten_STAK"></a>
<h4>Statuten STAK</h4>

<p>
    Bepaalt het functioneren van de STAK, ook dit staast bovenste reglement.
</p>

<a name="Administratie_voorwaarden_STAK"></a>
<h3>Administratie voorwaarden STAK</h3>

<a name="Register_van_certificaten"></a>
<h4>Register van certificaten</h4>

<p>
    Hierin word bijgehouden wie welke certificaten houdt.
</p>

<a name="Arbeidsvoorwaarden"></a>
<h4>Arbeidsvoorwaarden</h4>

<p>
    Vaststelling wat een vaste medewerker is.
</p>

<a name="Deze_toelichting"></a>
<h4>Deze toelichting</h4>

<p>
    Dit bevat een uitleg van de bovenstaande documenten maart is op geen enkel manier juridisch bindend. Indien de
    uitleg in strijd is met een document moet de uitleg worden aangepast.
</p>

<a name="Voorstel"></a>
<h2>VOORSTEL</h2>

<a name="De_periodes"></a>
<h3>De periodes</h3>

<a name="Eerste_volledige_week_van_oktober"></a>
<h4>Eerste volledige week van oktober</h4>

<p>
    Medewerkers en derde kunnen aan- of verkoop orders(respectievelijk bieden of aanbieden) indienen bij 12Care.
</p>

<p>
    Hier zijn bepaalde voorwaarden aan verbonden:
</p>

<ul>
    <li>Een order bevat:  Aan- of verkoop, Prijs , Aantal</li>
    <li>De order geldt tot en met de afhandeling en kan niet worden aangepast of ingetrokken.</li>
    <li>Bij een aankoop order moet je voor 50% van het bedrag toestemming geven dit te incasseren op je salaris. Derde
        moeten dit gestort hebben op de rekening van 12Care. De kooporder is pas geldig indien deze is ingediend en het
        geld bijgeschreven is. Het laatste moment geldt, bij een dagafschrift wordt als tijdstip 24:00 genomen. Het is
        verstandig voor derde om vooraf de waarborgsom over te maken.
    </li>
    <li>Het totaal aantal aankoop orders wat een medewerkers of externe (rechts)persoon kan indienen is maximaal 5.</li>
    <li>Het totaal aantal verkoop orders wat een medewerkers of externe (rechts)persoon kan indienen is maximaal 5 en
        het aantal aangeboden certificaten mag niet groter zijn dan men daadwerkelijk heeft bij aanvang van de order
        periode.
    </li>
</ul>

<p>
    Alle orders moeten minimaal op de maandag na d week worden ge publiceert. Echter deze kunnen ook eerder worden
    gepubliceerd, bijvoorbeeld de ochtend na indienen.
</p>

<a name="Tweede_volledige_week_van_oktober"></a>
<h4>Tweede volledige week van oktober</h4>

<p>
    Zelfde mogelijkheden maar dan alleen voor medewerkers.
</p>

<a name="Derde_volledige_week_van_oktober"></a>
<h4>Derde volledige week van oktober</h4>

<p>
    Zelfde mogelijkheden als tweede week maar dan alleen met toestemming van de 12Care(fincie). Dit is de moderatie
    periode. Let op! men kan alleen meedoen in de moderatie periode indien je nog niet aan je maximum zit.
</p>

<p>
    Deze periode is bedoelt om eventueel te kopen ov verkopen met ondersteuning van 12Care. Voor uitvoeren van de
    moderatie voorstellen is instemming vereist van de meerderheid van de aandeelhouders.
</p>

<a name="Eerste_twee_volledige_weken_van_november"></a>
<h4>Eerste twee volledige weken van november</h4>

<p>
    Toekenningen van de transacties. Dit is nog ingewikkeld zie betreffende paragraaf.
</p>

<a name="Derde_maandag_van_november"></a>
<h4>Derde maandag van november</h4>

<p>
    Definitief overzicht alle transacties en status van de certificaten.
</p>

<a name="De_toekenning"></a>
<h3>De toekenning</h3>

<a name="Regels"></a>
<h4>Regels</h4>

<p>
    De orders worden toegekend als volgt:
</p>

<ol>
    <li>Een order is een maximum, je kanoot meer kopen of verkopen dan de order, het komt wel voor dat je minder of
        niets krijgt toegewezen, afhankelijk van vraag en aanbod.
    </li>
    <li>De vraagprijs wordt de transactieprijs</li>
    <li>De toekenning gaat in twee rondes. Eerst worden alle interne koop orders afgehandeld. Daarna worden de externe
        kooporders afgehandeld.
    </li>
    <li>De toewijzing binnen ronde gebeurd op volgorde van de verkooporders.</li>
    <li>Eerst wordt gekeken naar de verkooporder met de laagste vraagprijs</li>
    <li>Biedingen onder de vraagprijs vervallen. Biedingen boven of gelijk aan een vraagprijs worden meegenomen bij de
        verdeling.
    </li>
    <li>Per gevraagde prijs worden hele certificaten toegekend naar evenredigheid van het aantal gevraagde certificaten.
        Toegewezen certificaten worden in mindering gebracht op de betreffende order.
    </li>
    <li>Indien een de berekening niet uit komt op hele hele certificaten wordt eerst de grootste rest toegewezen. Indien
        gelijk de eerst geplaatste order
    </li>
</ol>

<a name="Voorbeeld"></a>
<h4>Voorbeeld</h4>

<p>Orders</p>

<table>
    <tr>
        <td class="header">No</td>
        <td class="header">Aanbod aantal</td>
        <td class="header">Aanbod prijs</td>
        <td class="header">Bod aantal</td>
        <td class="header">Bod prijs</td>
    </tr>
    <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>6.00 euro</td>
    </tr>
    <tr>
        <td>2</td>
        <td>10</td>
        <td>8.00 euro</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>8.00 euro</td>
    </tr>
    <tr>
        <td>4</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>8.00 euro</td>
    </tr>
    <tr>
        <td>5</td>
        <td>5</td>
        <td>10.00 euro</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>6</td>
        <td>5</td>
        <td>10.00 euro</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>7</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>10.00 euro</td>
    </tr>
    <tr>
        <td>8</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>10.00 euro</td>
    </tr>
    <tr>
        <td>9</td>
        <td>5</td>
        <td>12.00 euro</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>10</td>
        <td>5</td>
        <td>12.00 euro</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>11</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>12.00 euro</td>
    </tr>
    <tr>
        <td>12</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>14.00 euro</td>
    </tr>
    <tr>
        <td>13</td>
        <td>10</td>
        <td>16.00 euro</td>
        <td></td>
        <td></td>
    </tr>
</table>

<p>
    Toekenning, aanbod €8,00
</p>

<p>
    Alle biedorders boven vraagprijs doen mee.
</p>

<table>
    <tr>
        <td class="header">No</td>
        <td class="header">Aanbod aantal</td>
        <td class="header">Aanbod prijs</td>
        <td class="header">Bod aantal</td>
        <td class="header">Bod prijs</td>
        <td class="header">toewijzing</td>
        <td class="header">Toew. aant.</td>
        <td class="header">Nog over</td>
    </tr>
    <tr>
        <td>2</td>
        <td>10</td>
        <td>8.00 euro</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>8.00 euro</td>
        <td></td>
        <td>1</td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>8.00 euro</td>
        <td></td>
        <td>2</td>
        <td>8</td>
    </tr>
    <tr>
        <td>7</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>10.00 euro</td>
        <td></td>
        <td>2</td>
        <td>8</td>
    </tr>
    <tr>
        <td>8</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>10.00 euro</td>
        <td></td>
        <td>2</td>
        <td>8</td>
    </tr>
    <tr>
        <td>11</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>12.00 euro</td>
        <td></td>
        <td>2</td>
        <td>8</td>
    </tr>
    <tr>
        <td>12</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>14.00 euro</td>
        <td></td>
        <td>1</td>
        <td>4</td>
    </tr>
    <tr>
        <td class="header">No</td>
        <td class="header">10</td>
        <td class="header"></td>
        <td class="header">50</td>
        <td class="header"></td>
        <td class="header"></td>
        <td class="header">10</td>
        <td class="header">40</td>
    </tr>
</table>

<p>
    Toekenning, aanbod €10,00
</p>

<p>
    Alle biedorders boven vraagprijs doen mee, voorzover de order niet gevuld is.
</p>

<table>
    <tr>
        <td class="header">No</td>
        <td class="header">Aanbod aantal</td>
        <td class="header">Aanbod prijs</td>
        <td class="header">Bod aantal</td>
        <td class="header">Bod prijs</td>
        <td class="header">toewijzing</td>
        <td class="header">Niet afgeronde toewijzing</td>
        <td class="header">Toew. aant.</td>
        <td class="header">Nog over</td>
    </tr>
    <tr>
        <td>5</td>
        <td>5</td>
        <td>10.00 euro</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>6</td>
        <td>5</td>
        <td>10.00 euro</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>7</td>
        <td></td>
        <td></td>
        <td>8</td>
        <td>10.00 euro</td>
        <td></td>
        <td>2.86</td>
        <td>3</td>
        <td>5</td>
    </tr>
    <tr>
        <td>8</td>
        <td></td>
        <td></td>
        <td>8</td>
        <td>10.00 euro</td>
        <td></td>
        <td>2.86</td>
        <td>3</td>
        <td>5</td>
    </tr>
    <tr>
        <td>11</td>
        <td></td>
        <td></td>
        <td>8</td>
        <td>12.00 euro</td>
        <td></td>
        <td>2.86</td>
        <td>3</td>
        <td>5</td>
    </tr>
    <tr>
        <td>12</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td>14.00 euro</td>
        <td></td>
        <td>1.43</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr>
        <td class="header">No</td>
        <td class="header">10</td>
        <td class="header"></td>
        <td class="header">28</td>
        <td class="header"></td>
        <td class="header"></td>
        <td class="header">10.00</td>
        <td class="header">10</td>
        <td class="header">18</td>
    </tr>
</table>

<p>
    Toekenning, aanbod €12,00
</p>

<p>
    Alle biedorders boven vraagprijs doen mee, voorzover de order niet gevuld is.
</p>

<table>
    <tr>
        <td class="header">No</td>
        <td class="header">Aanbod aantal</td>
        <td class="header">Aanbod prijs</td>
        <td class="header">Bod aantal</td>
        <td class="header">Bod prijs</td>
        <td class="header">toewijzing</td>
        <td class="header">Niet afgeronde toewijzing</td>
        <td class="header">Toew. aant.</td>
        <td class="header">Nog over</td>
    </tr>
    <tr>
        <td>9</td>
        <td>5</td>
        <td>12.00 euro</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>10</td>
        <td>5</td>
        <td>12.00 euro</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>11</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>12.00 euro</td>
        <td></td>
        <td>6.25</td>
        <td>5</td>
        <td>0</td>
    </tr>
    <tr>
        <td>12</td>
        <td></td>
        <td></td>
        <td>3</td>
        <td>14.00 euro</td>
        <td></td>
        <td>3.75</td>
        <td>3</td>
        <td>0</td>
    </tr>
    <tr>
        <td class="header">No</td>
        <td class="header"></td>
        <td class="header"></td>
        <td class="header">8</td>
        <td class="header"></td>
        <td class="header"></td>
        <td class="header">10.00</td>
        <td class="header">8</td>
        <td class="header">0</td>
    </tr>
</table>

<p>
    Het resultaat
</p>

<table>
    <tr>
        <td class="header">No</td>
        <td class="header">Aanbod aantal</td>
        <td class="header">Aanbod prijs</td>
        <td class="header">Bod aantal</td>
        <td class="header">Bod prijs</td>
        <td class="header center_text">Resultaat</td>
    </tr>
    <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>6.00 euro</td>
        <td class="center_text">vervalt, onder laagste vraag prijs</td>
    </tr>
    <tr>
        <td>2</td>
        <td>10</td>
        <td>8.00 euro</td>
        <td></td>
        <td></td>
        <td class="center_text">Verkoopt 10 voor 8 euro = 80 euro</td>
    </tr>
    <tr>
        <td>3</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>8.00 euro</td>
        <td class="center_text">1 voor 8 euro</td>
    </tr>
    <tr>
        <td>4</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>8.00 euro</td>
        <td class="center_text">2 voor 8 euro = 16 euro</td>
    </tr>
    <tr>
        <td>5</td>
        <td>5</td>
        <td>10.00 euro</td>
        <td></td>
        <td></td>
        <td class="center_text">Verkoopt 5 voor 10 euro = 50 euro</td>
    </tr>
    <tr>
        <td>6</td>
        <td>5</td>
        <td>10.00 euro</td>
        <td></td>
        <td></td>
        <td class="center_text">Verkoopt 5 voor 10 euro = 50 euro</td>
    </tr>
    <tr>
        <td>7</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>10.00 euro</td>
        <td class="center_text">2 voor 8 euro + 3 voor 10 euro = 5 voor 46 euro</td>
    </tr>
    <tr>
        <td>8</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>10.00 euro</td>
        <td class="center_text">2 voor 8 euro + 3 voor 10 euro = 5 voor 46 euro</td>
    </tr>
    <tr>
        <td>9</td>
        <td>5</td>
        <td>12.00 euro</td>
        <td></td>
        <td></td>
        <td class="center_text">Verkoopt 4 voor 12 euro = 48 euro</td>
    </tr>
    <tr>
        <td>10</td>
        <td>5</td>
        <td>12.00 euro</td>
        <td></td>
        <td></td>
        <td class="center_text">Verkoopt 4 voor 12 euro = 48 euro</td>
    </tr>
    <tr>
        <td>11</td>
        <td></td>
        <td></td>
        <td>10</td>
        <td>12.00 euro</td>
        <td class="center_text">2 voor 8 euro + 3 voor 10 euro + 5 voor 12 euro = 10 voor 106 euro</td>
    </tr>
    <tr>
        <td>12</td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>14.00 euro</td>
        <td class="center_text">1 voor 8 euro + 1 voor 10 euro + 3 voor 12 = 5 voor 54 euro</td>
    </tr>
    <tr>
        <td>13</td>
        <td>10</td>
        <td>16.00 euro</td>
        <td></td>
        <td></td>
        <td class="center_text">vervalt, boven hoogste biedprijs</td>
    </tr>
</table>

<p>
    Enkele gevolgen van het systeem.
</p>

<ul>
    <li>Wie graag certificaten kwijt wil kan dit doen door laag aan te bieden.</li>
    <li>Wie graag certificaten wil aanschaffen kan dit door hoog te bieden.</li>
    <li>Onrealistische aantallen worden tegen gegaan door de waarborgsom.</li>
    <li>Het systeem is eenvoudig uit te leggen maar vereist veel rekenwerk en administratie, daarom is het aantal orders
        gemaximeerd.
    </li>
    <li>Door dat meer dan 1 order mogelijk is kan men risico’s spreiden.</li>
</ul>

<a name="Overige_relevante_gegevens"></a>
<h3>Overige relevante gegevens</h3>

<a name="Aanwezigheid_Certificaathouders_bij_AVA"></a>
<h4>Aanwezigheid Certificaathouders bij AVA</h4>

<p>
    De certificaathouders hebben alleen een winstrecht, geen vergaderrecht, stemrecht oid mbt de AVA VOVB.
</p>

<a name="Certificaten_per_aandeel"></a>
<h4>Certificaten per aandeel</h4>

<p>
    Per aandeel komen er 100 certificaten
</p>

<a name="Bijhouden_register"></a>
<h4>Bijhouden register</h4>

<p>
    Van elk certificaten wordt bijgehouden wie de houder is. Dit register is voor alle vaste medewerkers en
    certificaathouders toegankelijk bij 12Care en wordt bijgehouden door 12Care.
</p>

<a name="Bij_verkoopaandelen_12Care"></a>
<h4>Bij verkoopaandelen 12Care</h4>

<p>
    Indien de aandelen verkocht worden krijgen de certicaathouder deze inkomsten en vervallen de certificaten
</p>

<a name="Bestuur_van_de_STAK"></a>
<h4>Bestuur van de STAK</h4>

<p>
    STAK is uitdrukkelijk bedoelt om besluitvorming in AVA te vereenvoudigen in overeenstemming met belangen van de DGA.
    Echter de opvolging moet wel geregeld worden. Het bestuur van de STAK bestaat uit 1 persoon. Er is geen opvolging
    geregeld. Voor de korte termijn wordt het STAK bestuur benoemd door de bestuurder van de holding van ondergetekende.
</p>

<a name="12Care_en_de_STAK_geen_certificaathouder"></a>
<h4>12Care en de STAK geen certificaathouder</h4>

<p>
    Noch 12Care noch de STAK mogen certificaathouder zijn.
</p>

</div>

{% endblock %}